<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row my-5">
    <div class="col-md-4">
           
    </div>
    <div class="text-center p-4 col-md-4">
        <div class="card bgr" style="width: 25rem; height: 35rem;">
            <div class="card-body">
                <h5><b>Signup on Shopping Planet</b></h5>
                <input class="tags w-75 my-4 py-1" type="text" placeholder="UserName"><br>
                <input class="tags w-75 mb-4 py-1" type="text" placeholder="Full Name"><br>
                <input class="tags w-75 mb-4 py-1" type="email" placeholder="Email"><br>
                <input class="tags w-75 mb-4 py-1" type="number" placeholder="Mobile Number"><br>
                <input class="tags w-75 mb-4 py-1" type="password" placeholder="Password"><br>
                <input class="tags w-75 mb-4 py-1" type="password" placeholder="Re-enter Password"><br>
                <a href="/login"><button class="btn btn-danger w-75 mb-4 py-2 shadow-sm">Signup</button></a>
                <p>Already Have an Account? <span><a href="/login">Login</a></span></p>
            </div>
        </div>
    </div>
</div>
</ion-content>
