<app-header></app-header>

<ion-content>
      <div class="text-center m-3">
        <h1 class="text-center">Men's Fashion</h1>
        <img src="assets\mens.jpg" class="img-fluid" alt="online shopping display image" style="width: 70%; height: 45%;">
      </div>

  <!-- <ion-row>
    <ion-col class="col-md-4">
      <ion-card>
        <img [src]="card.imageSource" style="width: 100%;" alt="online shopping display image">
        <ion-card-header>
          <ion-card-subtitle>
            {{card.title}}
          </ion-card-subtitle>
          <ion-card-title>
            <b>Cost: {{card.cost}}</b>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col class="text-center">
      <ion-button>
        View All
      </ion-button>
    </ion-col>
  </ion-row>

  <div class="fixed">
    <app-footer></app-footer>
  </div>
</ion-content>