<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row my-5">
    <div class="col-md-4">
           
    </div>
    <div class="text-center p-4 col-md-4">
        <div class="card bgr" style="width: 25rem; height: 30rem;">
            <div class="card-body">
                <h5><b>Signup on Shopping Planet</b></h5>
                <input class="tags w-75 my-4 py-1" type="text" placeholder="RobertHowdy22"><br>
                <input class="tags w-75 mb-4 py-1" type="text" placeholder="Robert Daniel Howdyson" disabled><br>
                <input class="tags w-75 mb-4 py-1" type="email" placeholder="rbhowdy@gmail.com" disabled><br>
                <input class="tags w-75 mb-4 py-1" type="number" placeholder="+12 9383245633"><br>
                <input class="tags w-75 mb-4 py-1" type="password" placeholder="............."><br>
                <a href="/home"><button class="btn btn-danger w-75 mb-4 py-2 shadow-sm">Save Details</button></a>
            </div>
        </div>
    </div>
</div>
</ion-content>
