<app-header></app-header>

<ion-content>
  <ion-grid>
    <!-- page's title -->
    <div class="row pl-5 pt-2">
      <h1>
        Order History
      </h1>
    </div>
    <!-- list of order history -->
    <div class="row text-center">
      <div class="mx-5 px-5 w-100" *ngFor="let item of userProducts">
        <ion-card>
          <ion-row>
            <ion-col class="col-sm-4">
              <img [src]="item.imgsrc" class="img-fluid" alt="product" >
            </ion-col>
            <ion-col class="col-sm-8">
              <ion-row>    
                <ion-col class="col-sm-4">
                  <h4 class="card-title">{{item.title}}</h4>
                  <ion-card-subtitle>
                    <b>Color:</b> {{item.color}}
                  </ion-card-subtitle>   
                </ion-col>
                <ion-col class="col-sm-4">
                  <h5>Cost:₹{{item.Cost}}/-</h5>  
                  <ion-card-subtitle>
                    (Including all taxes)
                  </ion-card-subtitle>
                </ion-col>
                <ion-col class="col-sm-4">
                  <h5>Quantity: {{item.quantity}}</h5>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
  </ion-grid>
  
  <br>

  <div class="fixed">
    <app-footer></app-footer>
  </div>
</ion-content>
